extends ../layout/index

block contenido
    .py-2.flex.flex-col.items-center
        h1.text-4xl.my-10.font-extrabold.text-center.text-azulMunsell Bienes
            span.font-normal.text-azulClaro Raices
        h2.text-center.text-2xl.font-extrabold.text-azulPrusia= pagina
        a(href="/propiedades/crear" class="rounded py-2 px-10 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-5 inline-block") Publicar Propiedades